In [1]:
import pandas as pd

In [2]:
DATA = 'data/gephi/'

In [3]:
complete_network_nodes = pd.read_csv(DATA+'complete_nodes.csv')
complete_network_nodes.shape

(301981, 7)

In [4]:
complete_network_nodes.sample(10)

,Id,Label,timeset,indegree,outdegree,Degree,modularity_class
114167,valenterio,NaN,NaN,0,1,1,3
222976,Yokorinthians,NaN,NaN,1,0,1,5
112915,WilliamRamosDe5,NaN,NaN,0,1,1,8
194126,CYPRIANOCARVAL1,NaN,NaN,1,0,1,8736
25668,andre_luizviana,NaN,NaN,32,14,46,4365
90120,dricoborr,NaN,NaN,0,1,1,17
104698,InfoBillieBR,NaN,NaN,3,0,3,6108
7217,GelsonAzevedoRJ,NaN,NaN,34,0,34,32
191276,LariSant_anna,NaN,NaN,1,0,1,8526
205624,Fantsio1,NaN,NaN,0,1,1,65

In [5]:
top_10_comm = complete_network_nodes['modularity_class'].value_counts()[:10]

In [6]:
total_nodes = complete_network_nodes.shape[0]

for idx, val in zip(top_10_comm.index, top_10_comm.values):
    print(f'Community {idx}: {val} ({(val/total_nodes)*100:.3f}%) members')

Community 3: 65402 (21.658%) members
Community 8: 54306 (17.983%) members
Community 5: 41565 (13.764%) members
Community 6: 29927 (9.910%) members
Community 17: 22343 (7.399%) members
Community 28: 21692 (7.183%) members
Community 20: 13964 (4.624%) members
Community 4365: 5666 (1.876%) members
Community 32: 5488 (1.817%) members
Community 106: 4003 (1.326%) members

In [7]:
complete_network_nodes.sort_values(by='indegree', ascending=False)[:20]

,Id,Label,timeset,indegree,outdegree,Degree,modularity_class
66,jairbolsonaro,NaN,NaN,21895,0,21895,17
45,OmarAzizSenador,NaN,NaN,18923,15,18938,5
12,randolfeap,NaN,NaN,15265,34,15299,5
305,taoquei1,NaN,NaN,15027,11,15038,8
407,CarlaZambelli38,NaN,NaN,12095,35,12130,8
17,renancalheiros,NaN,NaN,10693,17,10710,5
271,kimpaim,NaN,NaN,10201,27,10228,8
223,MarcosRogerio,NaN,NaN,9335,10,9345,5
218,Rconstantino,NaN,NaN,9215,2,9217,8
22,SenadoFederal,NaN,NaN,8659,36,8695,20
131,BolsonaroSP,NaN,NaN,7826,13,7839,17
114,folha,NaN,NaN,7811,23,7834,6
19,senadorhumberto,NaN,NaN,7724,23,7747,5
9,UOLNoticias,NaN,NaN,7384,56,7440,3
127,CNNBrasil,NaN,NaN,6488,15,6503,20
62,ArthurLira_,NaN,NaN,6471,0,6471,32
64,Metropoles,NaN,NaN,6267,94,6361,6
80,MidiaNINJA,NaN,NaN,5837,277,6114,3
177,CarlosBolsonaro,NaN,NaN,5638,2,5640,17
18,Sen_Alessandro,NaN,NaN,5612,4,5616,5

In [15]:
complete_network_nodes.query('modularity_class == 5').sort_values(by='indegree', ascending=False)[:20]

,Id,Label,timeset,indegree,outdegree,Degree,modularity_class
45,OmarAzizSenador,NaN,NaN,18923,15,18938,5
12,randolfeap,NaN,NaN,15265,34,15299,5
17,renancalheiros,NaN,NaN,10693,17,10710,5
223,MarcosRogerio,NaN,NaN,9335,10,9345,5
19,senadorhumberto,NaN,NaN,7724,23,7747,5
18,Sen_Alessandro,NaN,NaN,5612,4,5616,5
145,SimoneTebetms,NaN,NaN,5088,6,5094,5
55,SenadorRogerio,NaN,NaN,3993,48,4041,5
155,elizianegama,NaN,NaN,3735,12,3747,5
20,ottoalencar,NaN,NaN,3197,13,3210,5
276,EduGiraoOficial,NaN,NaN,3083,6,3089,5
24,ContaratoSenado,NaN,NaN,3064,13,3077,5
1739,jairmearrependi,NaN,NaN,2677,17,2694,5
440,GloboNews,NaN,NaN,2665,23,2688,5
2435,LucianoHangBr,NaN,NaN,2276,1,2277,5
1688,jorginhomello,NaN,NaN,2121,17,2138,5
311,SenadorHeinze,NaN,NaN,2110,9,2119,5
636,tesoureiros,NaN,NaN,1748,37,1785,5
1606,TaschnerNatalia,NaN,NaN,1487,1,1488,5
69,camarotedacpi,NaN,NaN,1447,84,1531,5